# Open: Comando para Ler Arquivos

### with open(file='<caminho do arquivo>', mode='<modo de leitura>',

### encoding='<decodificador>') as <apelido>: bloco de código

### Dados:

In [3]:
%%writefile banco.csv
 age,job,marital,education,default,balance,housing,loan 30,unemployed,married,primary,no,1787,no,no 33,services,married,secondary,no,4789,yes,yes 35,management,single,tertiary,no,1350,yes,no 30,management,married,tertiary,no,1476,yes,yes 59,blue-collar,married,secondary,no,0,yes,no 35,management,single,tertiary,no,747,no,no 36,self-employed,married,tertiary,no,307,yes,no 39,technician,married,secondary,no,147,yes,no 41,entrepreneur,married,tertiary,no,221,yes,no 43,services,married,primary,no,-88,yes,yes

Writing banco.csv

In [4]:
conteudo = None

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo: conteudo = arquivo.read()

print(conteudo)

 age,job,marital,education,default,balance,housing,loan 30,unemployed,married,primary,no,1787,no,no 33,services,married,secondary,no,4789,yes,yes 35,management,single,tertiary,no,1350,yes,no 30,management,married,tertiary,no,1476,yes,yes 59,blue-collar,married,secondary,no,0,yes,no 35,management,single,tertiary,no,747,no,no 36,self-employed,married,tertiary,no,307,yes,no 39,technician,married,secondary,no,147,yes,no 41,entrepreneur,married,tertiary,no,221,yes,no 43,services,married,primary,no,-88,yes,yes

### Comando para ler o conteúdo de um arquivo uma linha por vez.

In [5]:
conteudo = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
   linha = arquivo.readline()
   while linha:
    conteudo.append(linha)
    linha = arquivo.readline()

print(conteudo)

[' age,job,marital,education,default,balance,housing,loan 30,unemployed,married,primary,no,1787,no,no 33,services,married,secondary,no,4789,yes,yes 35,management,single,tertiary,no,1350,yes,no 30,management,married,tertiary,no,1476,yes,yes 59,blue-collar,married,secondary,no,0,yes,no 35,management,single,tertiary,no,747,no,no 36,self-employed,married,tertiary,no,307,yes,no 39,technician,married,secondary,no,147,yes,no 41,entrepreneur,married,tertiary,no,221,yes,no 43,services,married,primary,no,-88,yes,yes\n']

In [6]:
for linha in conteudo:
  print(linha)

 age,job,marital,education,default,balance,housing,loan 30,unemployed,married,primary,no,1787,no,no 33,services,married,secondary,no,4789,yes,yes 35,management,single,tertiary,no,1350,yes,no 30,management,married,tertiary,no,1476,yes,yes 59,blue-collar,married,secondary,no,0,yes,no 35,management,single,tertiary,no,747,no,no 36,self-employed,married,tertiary,no,307,yes,no 39,technician,married,secondary,no,147,yes,no 41,entrepreneur,married,tertiary,no,221,yes,no 43,services,married,primary,no,-88,yes,yes

### Extraindo os valores da primeira coluna (idade).

In [7]:
idades = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline()
  linha = arquivo.readline()
  while linha:
    linha_separada = linha.split(sep=',')
    idade = linha_separada[0]
    idades.append(idade)
    linha = arquivo.readline()

print(idades)

[]

### Comando para escrever em um arquivo, se o arquivo não existir, ele será criado.
### **Modo de escrita (w):**

In [9]:
with open(file='idades.csv', mode='w', encoding='utf8') as fp:
  linha = 'idade' + '\n'
  fp.write(linha)
for idade in idades:
  linha = str(idade) + '\n'
  fp.write(linha)

### **Modo de acréscimo:**

In [10]:
with open(file='idades.csv', mode='a', encoding='utf8') as fp:
  for idade in idades:
    linha = str(idade + 100) + '\n'
    fp.write(linha)

### **Copiando um arquivo com uma extensão diferente.**

In [11]:
%%writefile banco-texto.txt
age,job,marital,education,default,balance,housing,loan 30,unemployed,married,primary,no,1787,no,no 33,services,married,secondary,no,4789,yes,yes 35,management,single,tertiary,no,1350,yes,no 30,management,married,tertiary,no,1476,yes,yes 59,blue-collar,married,secondary,no,0,yes,no 35,management,single,tertiary,no,747,no,no 36,self-employed,married,tertiary,no,307,yes,no 39,technician,married,secondary,no,147,yes,no 41,entrepreneur,married,tertiary,no,221,yes,no 43,services,married,primary,no,-88,yes,yes

Writing banco-texto.txt

In [15]:
with open(file='./banco-texto.txt', mode='r', encoding='utf8') as leitura:
  with open(file='./banco-csv.csv', mode='w', encoding='utf8') as escrita:
    linha = leitura.readline()
    while linha:

      escrita.write(linha)
      linha = leitura.readline()

### **Você trabalha na bolsa de valores e precisa simular o retorno de um investimento para diversos cenários:**

In [17]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} ' + \
      f'e uma taxa de juros anual de {taxa_juros_anual}, ' + \
      f'em {anos} anos você terá R$ {valor_final}' )

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89

### Como podemos fazer para reaproveitar o código e evitar repetições?

In [20]:
valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = valor_inicial

for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
  valor_final = round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} ' + \
        f'e uma taxa de juros anual de {taxa_juros_anual}, ' + \
        f'em {anos} anos você terá R$ {valor_final}' )

Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1050.6
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1082.12
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1114.58
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1148.02
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1182.46
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1217.93
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1254.47
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1292.1
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1330.86
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

### **Um bloco de código que só executado quando chamado:**

**def <nome>(<param 1>, <param 2>, ...): bloco de código return <valor de**

**retorno> var = <nome da funcao>(<param 1>, <param 2>, ...)**

### Toda função retorna pelo menos um valor, se não especificado, retorna o valor nulo.

In [21]:
def maiusculo(texto: str)-> str:
  text_maiusculo = texto.upper()
  return text_maiusculo

In [23]:
nome = 'André Paz'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

André Paz
ANDRÉ PAZ

In [25]:
def extrair_usuario_email_provedor(email: str) -> (str, str):
    email_separado = email.split(sep='@')
    usuario = email_separado[0]
    provedor = email_separado[1]
    return usuario, provedor

In [26]:
email = 'andre.paz@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

andre.paz
gmail.com

### Parâmetros são os valores que a passamos na chamada da função.
### **Função sem parâmetro:**

In [27]:
def pi()-> float:
  return 3.14159265359

In [28]:
pi = pi()
print(pi)

3.14159265359

In [29]:
def imprime_pi()-> None:
  print(3.14159265359)
  return None

In [30]:
imprime_pi()

3.14159265359

### **Função com parâmetro:**

In [32]:
def escreve_arquivo_csv(nome: str, cabecalho: str, conteudos: list)-> bool:

  try:

    with open(file=nome, mode='w', encoding='utf8') as fp:
      linha = cabecalho + '\n'
      fp.write(linha)
    for conteudo in conteudos:
      linha = str(conteudo) + '\n'
      fp.write(linha)

  except Exception as exc:
    print(exc)
    return False
  return True

In [33]:
nome = 'idades-funcao-erro.csv'
cabecalho = 'idade'
conteudos = 10

escreveu_com_sucesso = escreve_arquivo_csv(
    nome=nome,
    cabecalho=cabecalho,
    conteudos=conteudos )
print(escreveu_com_sucesso)

'int' object is not iterable
False

### **Revisão:**

In [35]:
def juros_compostos_anual(
    valor_inicial: float,
    taxa_juros_anual: float,
    anos: int
)-> float:
  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
    valor_final = round(valor_final, 2)
    print(f'Para um valor inicial de R$ {valor_inicial} ' +
          f'e uma taxa de juros anual de {taxa_juros_anual}, ' +
          f'em {anos} anos você terá R$ {valor_final}' )
    return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(
    valor_inicial=valor_inicial,
    taxa_juros_anual=taxa_juros_anual,
    anos=anos )

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1050.0

In [36]:
valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(
    valor_inicial=valor_inicial,
    taxa_juros_anual=taxa_juros_anual,
    anos=anos )

Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1050.6

### Define o ciclo de vida de uma variável.
### **Escopo de função:**

In [40]:
def soma_lista(numeros: list)-> int:
  s = 0
  for numero in numeros:
    s = s + numero
    return s

In [41]:
soma = soma_lista(numeros=[2] * 20)
print(soma)

2

### **Escopo de estrutura condicional / repetição.**

In [45]:
if True:
  x = 100
else:
  w = 50
print(x)

100

## **Leia arquivos**

### **Arquivo (file):** Uma entidade nomeada, usualmente armazenada em um disco rígido (HD), disquete ou CDROM, que contém uma sequência de caracteres.

### **Apelido:** Múltiplas variáveis que contém referências ao mesmo objeto.

### **Append:** Modo de acréscimo de informações ao final do arquivo. Não sobrescreve nenhuma informação.

### **Arquivo cvs:** CSV é um formato de arquivo que significa “comma-separated-values” (valores separados por vírgulas), isto é, os campos de dados são separados por uma vírgula.

### **Caminho:** Uma sequência de nomes de diretórios que especifica a exata localização de um arquivo.

### **Diretório:** Uma coleção nomeada de arquivos, também chamado de pasta ou folder.

### **Encoding:** Se refere ao código a partir dos quais os caracteres devem ser interpretados.

### **Read:** O método read lê dados do arquivo. Sem argumentos, ele lê todo o conteúdo do arquivo.

### **Readline:** O método readline lê todos os caracteres até, e incluindo, o próximo caractere de nova linha.

### **Split:** O método split() divide uma string em uma lista.

## **Escreva arquivos**

### **Functional programming (fp):** É um paradigma de programação onde os programas são construídos aplicando e compondo funções.

### **Laço de repetição:** Os laços de repetição são estruturas de controle do programa usadas para repetir a execução de um bloco de código enquanto uma condição for verdadeira.

### **Modo “w”:** Modo “w” significa que estamos abrindo o arquivo para gravação.

### **Write:** O método write() retorna o número de caracteres escritos.

## **Aprendaas funções**

### **Assinatura da função:** É o nome de uma função junto com o tipo de dados que retorna.

### **Chamada de função:** Comando que executa uma função. Consiste do nome da função seguido de uma lista de argumentos entre parênteses.

### **Definição de função:** Comando que cria uma nova função, especificando seu nome, parâmetros e comandos que ela executa.

### **Desempacotamento (unpacking):** Atribuir valores em um objeto iterável a uma tupla ou lista de variáveis para uso posterior.

### **Função:** Sequência de comandos nomeada, que realiza alguma tarefa útil. As funções podem ou não receber parâmetros e podem ou não retornar valores.

### **Parâmetro:** Nome usado numa função para referir-se a um valor passado como argumento.

### **Valor de retorno:** O resultado da função. Se uma chamada de função é usada como expressão, o valor de retorno é o valor da expressão.